.eleDownIn {
    animation: downIn ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    /*when the spec is finished*/

    -webkit-animation: downIn ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    /*Chrome 16+, Safari 4+*/
}

@keyframes downIn {
    0% {
        opacity: 0;
        transform: translate(0px, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0);
    }
}

@-webkit-keyframes downIn {
    0% {
        opacity: 0;
        transform: translate(0px, -100%);
        -webkit-transform: translate(0px, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0);
        -webkit-transform: translate(0px, 0);
    }
}

.eleDownOut {
    animation: downOut ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    /*when the spec is finished*/

    -webkit-animation: downOut ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    /*Chrome 16+, Safari 4+*/
}

@keyframes downOut {
    0% {
        opacity: 1;
        transform: translate(0px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0px, -120%);
    }
}

@-webkit-keyframes downOut /* Safari 和 Chrome */
{
    0% {
        opacity: 1;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, -200px);
        -webkit-transform: translate(0, -200px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}
