.nav.nav-tabs {
    position: fixed;
    background: #cccccc;
    z-index: 1000;
    border-radius: 20px;
    left: 40px;
}

#channelChange {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.eleDownIn {
    animation: downIn ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    /*when the spec is finished*/

    -webkit-animation: downIn ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    /*Chrome 16+, Safari 4+*/

    -moz-animation: downIn ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode: forwards;
    /*FF 5+*/
}

@keyframes downIn {
    0% {
        opacity: 0;
        transform: translate(0px, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0);
    }
}

@-moz-keyframes downIn {
    0% {
        opacity: 0;
        transform: translate(0px, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0);
    }
}

@-webkit-keyframes downIn {
    0% {
        opacity: 0;
        transform: translate(0px, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0);
    }
}

.eleDownOut {
    animation: downOut ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    /*when the spec is finished*/

    -webkit-animation: downOut ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    /*Chrome 16+, Safari 4+*/

    -moz-animation: downOut ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode: forwards;
    /*FF 5+*/
}

@keyframes downOut {
    from {
        height: 100px;
    }
    to {
        height: 0;
    }
}

@-moz-keyframes downOut {
    from {
        height: 100px;
    }
    to {
        height: 0;
    }
}

@-webkit-keyframes downOut /* Safari 和 Chrome */
{
    0% {
        opacity: 1;
        transform: translate(0px, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0px, -120%);
    }
}